# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
media

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/

# Byte-compiled / optimized / DLL files
*.class

# Distribution / packaging
__pypackages__/

# Secrets
.env
.venv

# FAISS / index binaries (if you regenerate index instead of versioning)
data/index.faiss
data/index_backup.faiss
